<section class="clarity-series">
    <div class="clarity-series-content">
      <!-- <span>Spotlight on</span> -->
      <h3>The StephBe Global Collective​</h3>
      <h4>Calrity: A practical leadership framework for organisations navigating complexity.</h4>
      <p>In complex, high-pressure environments, leaders don’t need more information they need clarity.</p>
      <br />
      <p>
        The Clarity Series is a structured leadership framework designed to reduce organisational fog, strengthen trust
        and translate strategy into focused execution. Built on behavioural science and real-world leadership
        experience, this series helps organisations move from reactivity to alignment.
      </p>
      <ul>
        <li><img src="/icons/check.svg" alt="Checkmark" /> Clearer decision-making</li>
        <li><img src="/icons/check.svg" alt="Checkmark" /> Stronger leadership presence under pressure</li>
        <li><img src="/icons/check.svg" alt="Checkmark" /> Reduced friction across teams</li>
        <li><img src="/icons/check.svg" alt="Checkmark" /> Practical tools that stick</li>
        <li><img src="/icons/check.svg" alt="Checkmark" /> Performance that compounds</li>
      </ul>
      <p>
        <br />
        Available as: <br />
      </p>
      <ul>
        <li><img src="/icons/check.svg" alt="Checkmark" /> In-house workshops</li>
        <li><img src="/icons/check.svg" alt="Checkmark" /> Custom leadership series</li>
        <li><img src="/icons/check.svg" alt="Checkmark" /> Virtual delivery</li>
        <li><img src="/icons/check.svg" alt="Checkmark" /> Individual programmes Key note presentations</li>
      </ul>
      <div>
        <a
          class="btn-third"
          data-cal-link="stephbe/catch-up"
          data-cal-namespace="catch-up"
          data-cal-config='{"layout":"month_view"}'>Book a Clarity Conversation</a
        >
      </div>
    </div>
  </section>
