---
---

<header>
  <nav>
    <div class="logo">
      <a href="/"><img src="/img/Logo3.svg" alt="StephBe logo" /></a>
      <!-- <a href="/"><img src="../public/img/Logo3.svg" alt="" /></a> -->
    </div>
    <button class="burger" aria-label="Open menu" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="nav-menu">
      <li><button class="close-menu" aria-label="Close menu">&times;</button></li>
      <li><a href="/my-approach">My Approach</a></li>
      <li><a href="/organisations">Organisations</a></li>
      <li><a href="/individual-performance">Individual Performance</a></li>
    </ul>
  </nav>
</header>
