.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font: var(--font-p2);
  font-weight: 400;
  padding: 10px 20px;
  border: 1px solid transparent;
  background: var(--red2);
  color: var(--white);
  &:hover {
    border: 1px solid var(--white);
  }
}

.btn-secondary {
  display: flex;
  font: var(--font-p2);
  font-weight: 400;
  text-decoration: underline;
  align-items: center;
  padding-top: 40px;
  &:hover {
    color: var(--red);
  }
}

.btn-third {
  font: var(--font-p2);
  font-weight: 400;
  padding: 10px 20px;
  border: 2px solid transparent;
  background: var(--white);
  color: var(--red);
  &:hover {
    border: 1px solid var(--red);
  }
}
